<!doctype html>

<title> the quiz  </title>
<h1> {{ form.title }}</h1>

<h3> there are {{ form.total_questions }} questions</h3>

<form method="POST" action="{{url_for('login')}}">
	{{ form.csrf_token }}
	{{ form.username.label }}
	{{ form.username }}<br>
    {{ form.password.label }}
    {{ form.password }}<br>
    {{ form.remember.label }}
    {{ form.remember }}<br>
	{{ form.question.label }}
	{{ form.question }}
	<input type="submit" value="Submit">
</form>
<body>
	<p>
		<br>
		<a href="{{ url_for('signup') }}">Sign Up</a>
	</p>
</body>
